## 파이썬 개념학습

### 변수

- 변수 선언

In [2]:
a = 'python'

- 변수의 예

In [3]:
a = 'python'        #문자열 변수
b = 123             #정수형 변수
c = 1.2             #실수형 변수
c = ['a', 'b']      #문자열 리스트
d = ['name', 'lee'] #문자열 사전

### 주석문에 대한 설명

In [4]:
a = 100 # 주석문을 나타내는 방법

In [6]:
'''
다음과 같이 주석을 나타낼 수도 있음
'''
a

100

- 여러가지 변수 생성방법

In [9]:
a, b = 'var1', 'var2'
# a에는 var1이라는 변수가 들어가며, b에는 var2라는 변수가 들어감
c = ['tuple1', 'tuple2']
# c에는 tuple 자료 구조를 가진 [tuple1, tuple2] 라는 변수가 들어감
d = ['list1', 'list2']
# d에는 list 자료 구조를 가진 [list1, list2] 라는 변수가 들어감

print(a)
print(b)
print(c)
print(d)

var1
var2
['tuple1', 'tuple2']
['list1', 'list2']

- 데이터 변수 에러

In [10]:
a = 10 # a변수에 1d의 값을 할당
g
# 하지만 g를 호출할 경우 g의 값은 아무 값도 할당하지 않았으므로 에러를 출력

NameError: name 'g' is not defined

- 데이터 변수 형태 확인

In [11]:
a = 10    # a변수에 10의 값을 할당
b = 3.14  # b변수에 3.14의 값을 할당
c = True  # c변수에 True라는 값을 할당

print("a의 값은?", a)
print("a의 데이터 변수 형태는? : ", type(a)) # a는 int형태의 값을 나타냄
print("b의 값은?", b)
print("b의 데이터 변수 형태는? : ", type(b)) # b는 float형태의 값을 나타냄
print("c의 데이터 값은?", c)
print("c의 데이터 변수 형태는? : ", type(c)) # c는 Boolean형태의 값을 나타냄

a의 값은? 10
a의 데이터 변수 형태는? :  <class 'int'>
b의 값은? 3.14
b의 데이터 변수 형태는? :  <class 'float'>
c의 데이터 값은? True
c의 데이터 변수 형태는? :  <class 'bool'>

### 자료형

- 기본 자료형

In [14]:
a = 100   # 정수형 변수
b = 3.14  # 소수형 변수

In [15]:
print(a)
print(bin(a))
print(oct(a))
print(hex(a))

100
0b1100100
0o144
0x64

- 논리형

In [16]:
a = True

In [17]:
type(a)

bool

In [18]:
b = False

In [19]:
type(b)

bool

- 비교 연산자를 이용해 논리형 데이터를 표현

In [23]:
print(10 == 10) # 두 값이 같은 경우 True를 출력
print(10 != 10) # 두 값이 같지 않은 경우 True를 출력

# 두 값 중 우측에 있는 값이 큰 경우 True를 출력 그렇지 않은 경우 False를 출력
print(10 < 10)

# 두 값 중 좌측에 있는 값이 큰 경우 True를 출력 그렇지 않은 경우 False를 출력
print(10 > 10)

# 두 값 중 우측에 있는 값이 크거나 같은 경우 True를 출력 그렇지 않은 경우 False를 출력
print(10 <= 10)

# 두 값 중 좌측에 있는 값이 크거나 같은 경우 True를 출력 그렇지 않은 경우 False를 출력
print(10 >= 10)

True
False
False
False
True
True

- 문자열

In [24]:
# sentence라는 변수에 두개의 문자열을 넣음
sentence = '안녕하세요. ' + '반갑습니다.'
sentence

'안녕하세요. 반갑습니다.'

In [25]:
sentence.split() # sentence라는 변수를 띄어쓰기를 기준으로 split 함수를 사용

['안녕하세요.', '반갑습니다.']

In [26]:
# sentence라는 변수에 반갑습니다라는 단어를 찾기 위해 find 함수를 사용
sentence.find('반갑습니다')

7

In [27]:
# 만약 sentence라는 변수에 해당 문자열이 없을 시 -1 을 리턴함
sentence.find('python')

-1

In [28]:
# sentence라는 변수에서 '.' 문자를 '!' 문자로 변환하기 위해 replace 함수 사용
sentence.replace('.', '!')

'안녕하세요! 반갑습니다!'

In [29]:
# sentence라는 변수에서 '안녕' 이라는 문자를 제거하기 위해 strip 함수 사용
sentence.strip('안녕')

'하세요. 반갑습니다.'

### 자료구조

#### (1) 리스트

In [30]:
# 리스트의 형태
data = [10, 20, 30, 40, 50, 60] # data를 list 형태로 생성
print(data)
print(type(data))

[10, 20, 30, 40, 50, 60]
<class 'list'>

In [31]:
print(data[0])    # list 형태의 data[0]번째를 출력함
print(data[4])    # list 형태의 data[4]번째를 출력함

print(data)       # data에 저장된 값을 출력
data[0] = data[4] # data[4]번째 값을 data[0]번째에도 같이 저장
print(data)

10
50
[10, 20, 30, 40, 50, 60]
[50, 20, 30, 40, 50, 60]

#### (2) 리스트 인덱싱(indexing)

In [32]:
# data 변수 안에 저장된 리스트 목록
data = ['사과', '배', '포도', '딸기', '토마토', '멜론']
print(data)

# 인덱싱을 통해 리스트 내의 하나의 값을 표현하는 방법
print("리스트 인덱싱을 통해 하나의 값을 표현 : ", data[0])

['사과', '배', '포도', '딸기', '토마토', '멜론']
리스트 인덱싱을 통해 하나의 값을 표현 :  사과

#### (3) 리스트 슬라이싱(slicing)

In [33]:
data = ['사과', '배', '포도', '딸기', '토마토', '멜론']

# 슬라이싱을 통해 리스트 내의 다수의 값을 나타낼 때 표현하는 방법
print("리스트 슬라이싱을 통해 여러 값을 표현 : ", data[2 : 4])

리스트 슬라이싱을 통해 여러 값을 표현 :  ['포도', '딸기']

- 리스트 인덱싱과 슬라이싱에서 발생하는 에러

In [34]:
data = ['사과', '배', '포도', '딸기', '토마토', '멜론']
print(data)

print(data[10])

['사과', '배', '포도', '딸기', '토마토', '멜론']

IndexError: list index out of range

#### (4) 리스트 기초 현상

- 여러 개의 리스트를 하나의 리스트로 병합

In [35]:
data_1 = [10, 20, 30, 40, 50] # 리스트형 data_1의 값
data_2 = [5, 10, 15, 20, 25]  # 리스트형 data_2의 값

# data_1과 data_2를 합쳤을 때 하나로 합쳐진 데이터 형태를 볼 수 있음
data_1 + data_2

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]

- 리스트 데이터를 추가 및 삭제

#### 1) 리스트의 append 함수를 이용해 데이터를 추가하는 방법

In [39]:
lists = [1, 100, 'python']
print(lists)
print(type(lists))
print()

# lists의 리스트에 py라는 값을 append 함수를 이용해 데이터를 추가
lists.append('py')
print("py라는 값을 추가한 후의 lists : ", lists) # lists에 추가된 py라는 값을 확인

[1, 100, 'python']
<class 'list'>

py라는 값을 추가한 후의 lists :  [1, 100, 'python', 'py']

#### 1) 리스트의 insert 함수를 이용해 데이터를 추가하는 방법

In [40]:
lists = [1, 100, 'python']
print(lists)
print(type(lists))
print()

# lists의 리스트에 0.2 라는 값을 insert 함수를 이용해 데이터를 추가
lists.insert(1, '0.2')
lists

[1, 100, 'python']
<class 'list'>

[1, '0.2', 100, 'python']

- 리스트 데이터를 추가 및 삭제

In [41]:
print(lists)

lists.remove('python') # remove 함수를 이용해 리스트의 'python' 값을 제거
print(lists)

[1, '0.2', 100, 'python']
[1, '0.2', 100]

- 리스트 데이터의 최대, 최소값 구하기

In [42]:
data_list = [10, 20, 30, 40, 50, 60, 70]

# min 함수를 이용해 리스트 데이터 중 최소값을 검색
print("리스트 내의 최소값을 찾을 때 : ", min(data_list))

# max 함수를 이용해 리스트 데이터 중 최대값을 검색
print("리스트 내의 최대값을 찾을 때 : ", max(data_list))

리스트 내의 최소값을 찾을 때 :  10
리스트 내의 최대값을 찾을 때 :  70

- 리스트 데이터 정렬하기

In [43]:
data_list = [50, 20, 40, 30, 10, 60, 90]

# sort 함수를 이용해 리스트 데이터의 순서를 정렬(오름차순)
data_list.sort()
print(data_list)

[10, 20, 30, 40, 50, 60, 90]

In [44]:
a = [1,2,3,4,5]

b = [1,5]

a.append(6)

b.remove(5)

print(a+b)

[1, 2, 3, 4, 5, 6, 1]