# 자료구조

## 튜플(Tuple)

### 튜플이란?

- 리스트와 유사한 구조를 가진 자료구조
- 직접 변경할 수 없으며 append, insert 함수 사용 불가능
- 즉 튜플 내 데이터는 변경이 불가능

In [1]:
# 튜플의 기본 구조
data = ("사과", "배", "포도", "토마토", "딸기")   # 소괄호 !!!!

print(data)
print(type(data))

('사과', '배', '포도', '토마토', '딸기')
<class 'tuple'>

In [2]:
data[0] = 100

TypeError: 'tuple' object does not support item assignment

### 튜플의 기본 연산

- 튜플 전체 데이터 수 검색 : count 함수 이용

In [5]:
data = (100, 200, 100, 300, 100, 500)
print(type(data))

# 튜플은 Count 함수를 이용해 해당 데이터의 개수를 확인가능함
print(data.count(100))

<class 'tuple'>
3

- 튜플 슬라이싱(slicing)

In [7]:
data = (100, 200, 100, 300, 100, 500)
print(type(data))

# 튜플은 리스트와 같이 데이터의 슬라이싱이 가능
print(data[2 : 4])    #인덱스 2와 3의 데이터 출력

<class 'tuple'>
(100, 300)

- 두 개의 튜플 데이터 병합 : 덧셈 연산자 이용

In [9]:
data1 = ("사과", "배", "포도", "토마토", "딸기")
data2 = (100, 200, 300, 400, 500)

# 두 개의 튜플 데이터를 덧셈 연산자를 통해 하나로 통합
data = data1 + data2
print(data)

('사과', '배', '포도', '토마토', '딸기', 100, 200, 300, 400, 500)

- 튜플 데이터 반복 : 곱셈 연산자 이용

In [10]:
data = ("사과", "배", "포도", "토마토", "딸기")

# 튜플 데이터는 곱셈 연산자를 이용해 데이터를 반복할 수 있음
print(data * 2)

('사과', '배', '포도', '토마토', '딸기', '사과', '배', '포도', '토마토', '딸기')

## 세트(set)

### 세트란?

- 수학에서 배웠던 집합
- 순서에 상관없고 중복을 허용하지 않는 자료구조
- 중괄호 기호 {} 안에 항목들을 쉼표로 분리 {항목1, 항목2}
- 변경 가능한 객체 -> 데이터 추가 삭제 가능
- 인덱스가 없어서 인덱싱이나 연산 불가능

In [11]:
data = {100, 200, 300}
print(data)
print(type(data))

{200, 100, 300}
<class 'set'>

In [12]:
data = {100, 200, 300, 400, 500, 600, 700}
print(data)
print(type(data))

# set 자료구조는 인덱싱과 슬라이싱이 불가능
data[0 : 4]

{100, 200, 300, 400, 500, 600, 700}
<class 'set'>

TypeError: 'set' object is not subscriptable

### 기본연산

- 데이터 추가 : add 함수 이용

In [13]:
data = {100, 200, 300, 400, 500, 600}
print(data)

# 세트 자료구조는 add 함수를 이용해 데이터를 추가할 수 있음
data.add(700)
print(data)

{100, 200, 300, 400, 500, 600}
{100, 200, 300, 400, 500, 600, 700}

- 데이터 업데이트 : update 함수 이용

In [14]:
data = {100}
print("여러 개의 데이터를 추가하기 전")
print(data)

print() # 빈줄
#세트 자료구조에서 여러 개의 데이터를 추가할 때는 update 함수를 이용해 추가
data.update([200, 300, 400, 500, 600])
print("여러 개의 데이터를 추가한 후")
print(data)

여러 개의 데이터를 추가하기 전
{100}

여러 개의 데이터를 추가한 후
{100, 200, 300, 400, 500, 600}

- 데이터 삭제 : remove 함수 이용

In [15]:
data = {100, 200, 300, 400, 500, 600}
print("데이터를 삭제하기 전")
print(data)

print()
# 세트 자료구조에서는 remove 함수를 이용해 데이터를 제거
data.remove(600)

print("데이터를 삭제한 후")
print(data)

데이터를 삭제하기 전
{100, 200, 300, 400, 500, 600}

데이터를 삭제한 후
{100, 200, 300, 400, 500}

- 세트 데이터 초기화 : clear 함수 이용

In [16]:
data = {100, 200, 300, 400, 500, 600}
print("데이터를 삭제하기 전")
print(data)

print()
# 세트 자료구조에서는 clear 함수를 이용해 전체 데이터를 초기화
data.clear()
print(data)

데이터를 삭제하기 전
{100, 200, 300, 400, 500, 600}

set()

### 집합연산

- 교집합 : intersection 함수

In [19]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

# intersection함수는 교집합을 나타내는 함수
print()
print("intersection은 교집합을 나타내는 함수")
print(A.intersection(B))
print(B.intersection(A))
print(A & B)

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

intersection은 교집합을 나타내는 함수
{200, 100, 300}
{200, 100, 300}
{200, 100, 300}

- 차집합 : difference 함수

In [20]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

# difference함수는 차집합을 나타내는 함수
print()
print("difference함수는 차집합을 나타내는 함수")
print(A.difference(B))
print(B.difference(A))
print(A - B)
print(B - A)

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

difference함수는 차집합을 나타내는 함수
{400, 500}
{250, 150}
{400, 500}
{250, 150}

- 합집함 : union 함수

In [21]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

# union함수는 합집합을 나타내는 함수
print()
print("union은 합집합을 나타내는 함수")
print(A.union(B))
print(B.union(A))
print(A | B)

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

union은 합집합을 나타내는 함수
{100, 200, 300, 400, 500, 150, 250}
{100, 200, 300, 400, 500, 150, 250}
{100, 200, 300, 400, 500, 150, 250}

- 합집합에서 교집합을 뺀 집합 : symmetric_difference 함수

In [23]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

# symmetric_difference함수는 합집합에서 교집합을 뺀 나머지 집합을 나타내는 함수
print()
print("symmetric_difference함수는 합집합에서 교집합을 뺀 나머지 집합을 나타내는 수")
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

symmetric_difference함수는 합집합에서 교집합을 뺀 나머지 집합을 나타내는 수
{400, 500, 150, 250}
{400, 500, 150, 250}

## 딕셔너리 (Dictionary)

### 딕셔너리란?

- 사전이라는 의미
- Key와 Value로 표현
- 중괄호 {} 안에 쉼푤 항목을 분리

### 기본구조

In [24]:
# 딕셔너리(dictionary)의 기본 구조는 다음과 같이 표현할 수 있다
data = {"사과" : 300, "배" : 200, "포도" : 500, "딸기" : 700}
print(data)
print(type(data))

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
<class 'dict'>

### 딕셔너리를 이용해 연산하기

- 항목 검색 : get 함수, data[key]

In [28]:
# 딕셔너리 데이터 예제를 data 변수에 입력
data = {"사과":300, "배": 200, "포도":500, "딸기":700}

# 항목 검색을 할 때 항목의 키를 사용하면 됨
# 위에서 키값 중 사과에 대한 값을 갖고 옴
print(data["사과"])

# 위와 같이 표현도 가능하지만 아래와 같이 get함수를 이용해 표현도 가능
print(data.get("사과"))

300
300

- 항목 추가 : data[key] = value

In [ ]:
# 딕셔너리 데이터 예제를 data변수에 입력
data = {"사과": 300, "배":200, "포도": 500, "딸기": 700}
print("추가하기 전 딕셔너리 전체 데이터")
print(data)

print()

# 딕셔너리에 데이터를 추가할 때는 아래와 같이 키를 설정하고 값을 입력함
data["메론"] = 1000
print("추가한 후 딕셔너리 전체 데이터")
print(data)

- 항목 삭제 : pop 함수

In [30]:
# 딕셔너리 데이터 예제를 data변수에 입력
data = {"사과": 300, "배": 200, "포도": 500, "딸기": 700}
print("삭제하기 전 딕셔너리 전체 데이터")
print(data)

print()

# 딕셔너리는 pop함수를 이용해 데이터를 삭제 가능
print("삭제한 후 딕셔너리 데이터")
data.pop("사과")
print(data)

삭제하기 전 딕셔너리 전체 데이터
{'사과': 300, '배': 200, '포도': 500, '딸기': 700}

삭제한 후 딕셔너리 데이터
{'배': 200, '포도': 500, '딸기': 700}

- 항목 정렬 : sorted 함수

In [31]:
data = {"사과": 300, "배": 200, "포도": 500, "딸기": 700}
print("정렬하기 전 딕셔너리 전체 데이터")
print(data)

print()
# sorted는 항목을 정렬시키는 내장함수
print(sorted(data))

# value값을 이용해 정렬하고 싶으면 아래와 같이 실행
print()
print(sorted(data.values()))

정렬하기 전 딕셔너리 전체 데이터
{'사과': 300, '배': 200, '포도': 500, '딸기': 700}

['딸기', '배', '사과', '포도']

[200, 300, 500, 700]